@font-face {
    font-family: "Akkurat-Mono";
    src: url(fonts/Akkurat-Mono.otf) format("truetype");
}

@font-face {
    font-family: "NewHeterodoxMono-Book";
    src: url(fonts/NewHeterodoxMono-Book.otf) format("truetype");
}

@font-face {
    font-family: "PPEditorialNew-Variable";
    src: url(fonts/PPEditorialNew-Variable.otf) format("truetype");
}

body {
    background-color: black;
    margin: 0;
    height: 100%; 
    overflow: hidden;
}

.container {
    height: 100vh;
}

.river-depth {
    height: 10000vh;
    background-image: linear-gradient(#529BE0, #666810);
}

.header-container {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 5vh;
}

.headline {
    font-size: 2em;
    margin: auto;
    width: 100%;
    color: white;
    font-family: 'NewHeterodoxMono-Book', Courier, monospace;
    text-align: center;
}

.instruction {
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Akkurat-Mono', Courier, monospace;
}

#audio-button {
    position: absolute;
    padding-left: 5vh;
    color: white;
    font-family: 'Akkurat-Mono', Courier, monospace;
}

#depth-container {
    margin-top: 5vh;
    margin-right: 5vh;
    padding-left: 8px;
    position: absolute;
    right: 0;
    border-width: 0;
    border-right: 10px solid;
    border-image: linear-gradient(#BDC8C4, #C1BA8C, #898938, #6A866E, #61783C, #313D26) 0 100%;
}

.depth {
    padding-right: 5px;
    text-align: right;
    font-size: .5em;
    color: white;
    font-family: 'Akkurat-Mono', Courier, monospace;
    text-align: left;
    line-height: .25em;
    opacity: 0;
}